<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{description}}"/>

    <title>{{title}}</title>
  </head>

  <body>
    {% capture css %}
    {% endcapture %}

    <style>{{css | cssmin}}</style>

    {% for jsFile in jsFiles %}
      {% capture js %}
        {% include jsFile %}
      {% endcapture %}

      <script type="module">{{ js | jsmin }}</script>
    {% endfor %}


    <main>{{content}}</main>
  </body>
</html>